<form id="form">
    <div class="row">
        <div class="six columns">
            <label for="exampleEmailInput">Keyword</label>
            <input class="u-full-width" type="text" id="keyword">
        </div>
        <div class="six columns">
            <label for="searchCategory">Search In</label>
            <select class="u-full-width" id="searchCategory">
            </select>
        </div>
    </div>
    <input class="button-primary" id="submitBtn" type="submit" value="Submit">
</form>


<div class="results">
    <table class="u-full-width">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody id="body">
            <tr>
            </tr>
        </tbody>
    </table>
</div>